@font-face {
    font-family: "Fusion Pixel";
    src: url("./fusion-pixel.ttf");
}

body {
    background-color: #eeeeee;
    font-family: 'Fusion Pixel';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    display: inline;
}

.card {
    background-color: #fafafa;
    height: 554px;
    width: 754px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 8px #b5b5b5;
    --s: 262px;
    /* control the size */
    --c1: #ebeaea;
    --c2: #f3f2f2;
    --c3: #fafafa;

    --_g: var(--c3) 0 120deg, #0000 0;
    background:
        conic-gradient(from -60deg at 50% calc(100%/3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200%/3), var(--_g)),
        conic-gradient(from 60deg at calc(200%/3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
        conic-gradient(from 180deg at calc(100%/3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg, var(--c1) calc(100%/6), var(--c2) 0 50%,
            var(--c1) 0 calc(500%/6), var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
}

.card-header,
.card-footer {
    height: 81px;
    width: auto;
    background-color: #00adb5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header>p {
    color: #fafafa;
    font-size: 45px;
}

.card-footer>p {
    font-size: 36px;
    padding: 10px;
}

.card-header {
    border-radius: 10px 10px 0px 0px;
}

.card-footer {
    background-color: #f7f6f4;
    border-radius: 0px 0px 10px 10px;

}

.countdown {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 280px;
    color: #222831;
    margin-bottom: -40px;
}

.countdown-lable {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 5px;
}

.website-info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #919191;
}